body {
    text-align: center;
    min-width: 510px;
}

.touch-control {
    position: relative;
    width: 501px;
    height: 200px;
    top: 700px;
    left: 0px;
    right: 0px;
    margin: auto;
    background-color: yellow;
    border-radius: 5px;
    border: 2px solid black;
}

canvas {
    position: relative;
    top: -150px;
}

.btn-up, .btn-down, .btn-left, .btn-right {
    width: 90px;
    height: 70px;
}

.btn-up {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
}


.btn-down {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
}

.btn-left {
    position: absolute;
    left: 100px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.btn-right {
    position: absolute;
    right: 100px;
    top: 0;
    bottom: 0;
    margin: auto;
}

img {
    position: relative;
    left: -100px;
    top: -14px;
    width: 50px;
    z-index: 1;
}
