body {
    text-align: center;
    /* min-width: 510px; */
    max-height: 100%;
}

.touch-control {
    position: relative;
    width: 503px;
    height: 200px;
    top: 600px;
    left: 0px;
    right: 0px;
    margin: auto;
    background-color: rgb(255, 230, 0);
    border-radius: 5px;
    border: 1px solid black;
}

.shape {
    position: absolute;
    top: -550px;
    left: -15px;
    width: 530px;
    height: 800px;
    background-color: rgb(237, 207, 11);
    z-index: -5;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 10px 10px 5px 0px rgba(51, 51, 40, 0.815);
}

canvas {
    position: relative;
    top: -250px;
}

.btn-up, .btn-down, .btn-left, .btn-right {
    width: 70px;
    height: 70px;
    cursor: pointer;
    font-size: 25px;
    background-color: #f3f3f3;
    background-position: center;
}

.btn-up {
    position: absolute;
    top: 20px;
    left: 240px;
    right: 0;
    margin: auto;
    background-image: url(../images/arrow-up.png);
}

.btn-down {
    position: absolute;
    bottom: 20px;
    left: 240px;
    right: 0;
    margin: auto;
    background-image: url(../images/arrow-down.png);
}

.btn-left {
    position: absolute;
    left: 260px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url(../images/arrow-left.png);
}

.btn-right {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url(../images/arrow-right.png);
}

.btn-up:hover {
    background-position: bottom;
}

.btn-down:hover {
    background-position: top;
}

.btn-left:hover {
    background-position: right;
}

.btn-right:hover {
    background-position: left;
}

.round-btn-1, .round-btn-2 {
    cursor: pointer;
}

.round-btn-1 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 20px;
    bottom: 60px;
    background-image: url(../images/rainbow.png);
    background-position: center;
}

.round-btn-2 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 90px;
    bottom: 90px;
    background-image: url(../images/moon-sun.png);
    background-position: center;
}

.round-btn-1:hover {
    transform: rotate(360deg);
    transition: 0.3s;
}

.round-btn-2:hover {
    background-color: rgb(209, 207, 207);

}

img {
    position: relative;
    left: -100px;
    top: -114px;
    width: 50px;
    z-index: 1;
}
